.ContactForm {
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 16px;
  box-sizing: border-box;
  margin: 10px auto;
}

.ContactForm input {
  display: block;
}

@media (min-width: 600px) {
  .ContactForm {
    width: 500px;
  }
}